page-view a{
    display: block;
    height:30px;
    line-height: 30px;
    border:1px solid #ccc;
    text-align: center;
}
.pageIndex{
    background-color: #007aff;
}
.pageIndex a{
    display: block;
    height:30px;
    line-height: 30px;
}
/*///////////////////////////////////////////////////////*/
.page{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    /*min-height:100%;*/
}
a{
    text-decoration: none;
}
page-view{
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    width:100%;
    background-color: #ddd;
    height: 100%;
}
.page-header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:40px;
    line-height: 40px;
    z-index: 99;
    background-color: #ccc;
}
.page-back-btn{
    background-color: #fff;
    display: inline-block;
    width:50px;
    height:30px;
    margin:5px 0 0 10px;
    line-height: 30px;
}
.page-content-container{
    margin-top:40px;
}
/*前进*/
.nextPage.ng-enter{animation: slideFromRight 0.5s ease-in-out;z-index:999;}
.nextPage.ng-leave{animation: scaleDown 0.5s ease-in-out;z-index:888;}
@keyframes slideFromRight {
    from{-webkit-transform:translateX(100%);}
    to{-webkit-transform:translateX(0);}
}
@keyframes scaleDown {
    to{-webkit-transform:scale(0.8) translateX(-10%);opacity: 0.3;}
}
/*返回*/
.prePage.ng-leave{animation: slideToRight 0.5s ease-in-out;z-index:999;}
.prePage.ng-enter{animation: scaleUp 0.5s ease-in-out;z-index:888;}
@keyframes slideToRight {
    from{-webkit-transform:translateX(0);}
    to{-webkit-transform:translateX(100%);}
}
@keyframes scaleUp {
    from{-webkit-transform:scale(0.8) translateX(-10%);opacity: 0.5;}
}