<page-view>
    <section class="page-header">
        <page-back uihref="#/index" pageclass="index"></page-back>
    </section>
    <section  class="page-content-container">
        <ul>
            <li><a href="#/list2/detail/zhang2">zhang2</a></li>
            <li><a href="#/list2/detail/wang2">wang2</a></li>
            <li><a href="#/list2/detail/lisi">lisi</a></li>
            <li><a href="#/list2/detail/zhao">zhao</a></li>
            <li><a href="#/list2/detail/zhang">zhang</a></li>
            <li><a href="#/list2/detail/wang">wang</a></li>
            <li><a href="#/list2/detail/lisi">lisi</a></li>
            <li><a href="#/list2/detail/zhao">zhao</a></li>
            <li><a href="#/list2/detail/zhang">zhang</a></li>
            <li><a href="#/list2/detail/wang">wang</a></li>
            <li><a href="#/list2/detail/lisi">lisi</a></li>
            <li><a href="#/list2/detail/zhao">zhao</a></li>
            <li><a href="#/list2/detail/zhang">zhang</a></li>
            <li><a href="#/list2/detail/wang">wang</a></li>
            <li><a href="#/list2/detail/lisi">lisi</a></li>
            <li><a href="#/list2/detail/zhao">zhao</a></li>
            <li><a href="#/list2/detail/zhang">zhang</a></li>
            <li><a href="#/list2/detail/wang">wang</a></li>
            <li><a href="#/list2/detail/lisi">lisi</a></li>
            <li><a href="#/list2/detail/zhao">zhao</a></li>
        </ul>
    </section>
</page-view>
<div class="page {{pageClass.detail}}" ui-view="detail"></div>