<page-view ng-controller="listCtrl">
    <section class="page-header">
        <page-back uihref="#/index" pageclass="index"><p>返回</p></page-back>
    </section>
    <section class="page-content-container">
        <ul>
            <li><a href="#/list/detail/zhang">zhang</a></li>
            <li><a href="#/list/detail/wang">wang</a></li>
            <li><a href="#/list/detail/lisi">lisi</a></li>
            <li><a href="#/list/detail/zhao">zhao</a></li>
            <li><a href="#/list/detail/zhang">zhang</a></li>
            <li><a href="#/list/detail/wang">wang</a></li>
            <li><a href="#/list/detail/lisi">lisi</a></li>
            <li><a href="#/list/detail/zhao">zhao</a></li>
            <li><a href="#/list/detail/zhang">zhang</a></li>
            <li><a href="#/list/detail/wang">wang</a></li>
            <li><a href="#/list/detail/lisi">lisi</a></li>
            <li><a href="#/list/detail/zhao">zhao</a></li>
            <li><a href="#/list/detail/zhang">zhang</a></li>
            <li><a href="#/list/detail/wang">wang</a></li>
            <li><a href="#/list/detail/lisi">lisi</a></li>
            <li><a href="#/list/detail/zhao">zhao</a></li>
            <li><a href="#/list/detail/zhang">zhang</a></li>
            <li><a href="#/list/detail/wang">wang</a></li>
            <li><a href="#/list/detail/lisi">lisi</a></li>
            <li><a href="#/list/detail/zhao11">zhao11</a></li>
        </ul>
    </section>
</page-view>
<div class="page {{pageClass.detail}}" ui-view="detail"></div>